<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.kuroko.mapper.EmployeeMapper">
    <select id="queryEmployeeById" parameterType="int" resultType="Employee">
        select * from employee where empId = #{empId}
    </select>
    <select id="queryAllEmployee" resultType="Employee">
        select * from employee
    </select>
    <insert id="addEmployee" parameterType="Employee">
        insert into employee(groupId,empId,empName,gender,email) values (#{groupId}, #{empId}, #{empName},#{gender},#{email})
    </insert>
    <delete id="deleteEmployeeById" parameterType="int">
        delete from employee where empId = #{empId}
    </delete>
    <update id="updateEmployee" parameterType="Employee">
        update employee set groupId = #{groupId},empName = #{empName},gender = #{gender},email = #{email} where empId = #{empId}
    </update>

</mapper>