<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="queryLeaderById" parameterType="int" resultType="Leader">
        select * from leader where leaderid = #{leaderid}
    </select>
    <select id="queryAllLeader" resultType="leader">
        select * from leader
    </select>
    <insert id="addLeader" parameterType="Employee">
        insert into leader(groupid,leaderid,leadername,leadergender,leaderemail) values (#{groupid}, #{leaderid}, #{leadername},#{leadergender},#{leaderemail})
    </insert>
    <delete id="deleteLeaderById" parameterType="int">
        delete from leader where leaderid = #{id}
    </delete>
    <update id="updateLeader" parameterType="Leader">
        update leader set groupid = #{groupid},leadername = #{leadername},leadergender = #{leadergender},leaderemail = #{leaderemail} where leaderid = #{leaderid}
    </update>

</mapper>